
@import url(http://fonts.googleapis.com/css?family=Tinos);

h1, h2 {
  font-family: 'Tinos', serif;
}

canvas {
  background-color: white;
}

article {
	
	section {
		background-color: rgba(255,0,0, 0.05);
		padding: 15px;
		
		.scorebox {
			background-color: rgba(0, 0, 0, 0.7);
			color: white;
			font-size: 2em;
			padding: 10px;
			display: inline-block;
			margin-top: -30px;
			
			p {
				font-size: 0.4em;
			}
		}
		
	}
}
