@(builds: List[Int], passedTests: List[Int])

<script src="assets/javascripts/libraries/RGraph.common.core.js"></script>
<script src="assets/javascripts/libraries/RGraph.common.key.js"></script>
<script src="assets/javascripts/libraries/RGraph.bar.js"></script>

<canvas id="builds" >[No canvas support]</canvas>

<script>
	window.onload = function() {
		var bar = new RGraph.Bar('builds', [ @passedTests.mkString(",") ])
		//bar.Set('grouping', 'stacked');
		bar.Set('labels', [ @builds.mkString(",") ]);
		bar.Set('labels.above', true);
		bar.Set('labels.above.decimals', 0);
		bar.Set('linewidth', 2);
		bar.Set('strokestyle', 'white');
		bar.Set('colors', [ 'Gradient(#89A54E:white)' ]);
		//bar.Set('shadow', true);
		bar.Set('shadow.offsetx', 1);
		bar.Set('shadow.offsety', 1);
		bar.Set('shadow.blue', 5);
		bar.Set('hmargin', 5);
		bar.Set('gutter.left', 5);
		bar.Set('gutter.right', 5);
		bar.Set('background.grid.vlines', false);
		bar.Set('background.grid.border', false);
		bar.Set('axis.color', '#ccc');
		bar.Set('noyaxis', true);
		bar.Set('ylabels', false);
		//bar.Set('key', [ 'Monday', 'Tuesday', 'Wednesday' ]);
		//bar.Set('key.position', 'gutter');
	    //bar.Set('key.position.x', bar.canvas.width - 300);
		//bar.Set('key.position.y', 20);
		//bar.Set('key.colors', [ 'blue', '#c00', '#0c0' ]);


		bar.Draw();
	}
</script>