@(testCase: TestCase, history: List[TestCaseHistory], feedbackForm: Form[(Boolean, Boolean, Boolean, String)])
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Feedbock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/assets/stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/assets/javascripts/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Feedbock</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
        @helper.form(action = routes.Application.submitFeedback(testCase.suiteName, testCase.className, testCase.testName), 'class -> "form-horizontal span6") {
			<fieldset>
				<div class="control-group">
					<label class="control-label">Build Number</label>
					<div class="controls">
						<input type="text" class="input-block-level" required readonly="readonly" value="@testCase.buildNumber">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Test</label>
					<div class="controls">
						<input type="text" class="input-block-level" required readonly="readonly" value="@testCase.testName">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Class</label>
					<div class="controls">
						<input type="text" class="input-block-level" required readonly="readonly" value="@testCase.className">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Suite</label>
					<div class="controls">
						<input type="text" class="input-block-level" required readonly="readonly" value="@testCase.suiteName">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Defect</label>
					<div class="controls">
						<label class="checkbox">
							@helper.checkbox(feedbackForm("defect"))
						</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Code Change</label>
					<div class="controls">
						<label class="checkbox">
							@helper.checkbox(feedbackForm("codeChange"))
						</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Timing</label>
					<div class="controls">
						<label class="checkbox">
							@helper.checkbox(feedbackForm("timing"))
						</label>
					</div>
				</div>
				@helper.textarea(feedbackForm("comment"))
				<input type="submit" />
			</fieldset>
			}
		<div class="row">
			<h2 class="span5">History</h2>
			@history.map { entry =>
				<div class="span5">
					@entry.comment
				</div>
			}
      	</div>
    </div> <!-- /container -->
    <script src="/assets/javascripts/require-jquery.js" data-main="/assets/javascripts/main"></script>
  </body>
</html>