@(testCase: TestCase, 
	mostRecentBuild: Int, 
	feedbackForm: Form[(Boolean, Boolean, Boolean, String)])
@import helper._

<div class="details">
	<i class="icon-remove" data-action="close"></i>
	<div class="description">
		<span>Test</span>
		<p>@Html(testCase.id.testNameWithBreakHints)</p>
		<span>Class</span>
		<p>@Html(testCase.id.classNameWithBreakHints)</p>
		<span>Suite</span>
		<p>@Html(testCase.id.suiteNameWithBreakHints)</p>

		<ul class="builds">
			@testCase.configurations.map { c =>
				@if(c.passed.contains(mostRecentBuild)) { 
			    	<li><i class="icon-ok"> 
			    } else { 
					<li class="failed"><i class="icon-remove"> 
			    }
				</i>
				@c.name
				</li> 
			}
		</ul>
	</div>

	<ul class="history">
		<header>history</header>
		
		@testCase.feedback.map { fb => 
		<li>
			<div class="properties">
				@if(fb.codeChange) { <i class="icon-code" title="code change"></i> }
				@if(fb.timingIssue) { <i class="icon-time" title="timing issue"></i> }
				@if(fb.defect) { <i class="icon-remove" title="defect"></i> }
			</div>
			<h3>@fb.build</h3>
			<p>@fb.alias:</p>
			<p>@fb.comment</p>
		</li>
		}
		
	</ul>

	<div class="comments">
		<header>feedback</header>
		<div class="properties">
			<i class="icon-code" title="code change"></i>
			<i class="icon-time" title="timing issue"></i>
			<i class="icon-remove" title="defect"></i>
		</div>
		@helper.form(action = 
			routes.Application.submitFeedback(
				testCase.id.suiteName, 
				testCase.id.className, 
				testCase.id.testName)) {
			<label>Defect
				<input type="checkbox" name="defect" value="true" /> 
			</label><br/>
			<label>Code Change
				<input type="checkbox" name="codeChange" value="true" />
			</label><br/>
			<label>Timing Issue
				<input type="checkbox" name="timing" value="true" />
			</label><br/>
			<label>Comment
				<textarea placeholder="Be the first to comment..." name="comment"></textarea>
			</label>
			
			<input type="submit" />
		}
	</div>
</div>
