@(testCase: TestCase,
  currentBuild: Int)
<li>
	<a href="/details/@testCase.id.toUrlPart"></a>
	<h3>
	@Html(testCase.id.testNameWithBreakHints)
	</h3>
	<p class="full-name">
		@Html(testCase.id.suiteNameWithBreakHints)<br/>
		@Html(testCase.id.classNameWithBreakHints)<br/>
		@Html(testCase.id.testNameWithBreakHints)
	</p>
	<p class="plattforms">
		@Html(testCase.failedConfigsForBuild(currentBuild).map(_.name).mkString(", <wbr/>")))
	</p>
	<div class="score">
		@testCase.score
		<span>score</span>
	</div>

	@controllers.Application.generateDetailsView(testCase.id.suiteName, testCase.id.className, testCase.id.testName)

</li>